@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-secondary: #10B981;
  --color-accent: #84CC16;
  --color-highlight: #FACC15;
  --color-danger: #EF4444;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #111827; /* Dark Gray for Text Primary */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin: 0;
    min-height: 100vh;
  }
}

/* Leaflet Map Fixes */
.leaflet-container {
  z-index: 10;
  background-color: #f1f5f9;
}

.leaflet-tile-pane {
  z-index: 20;
}

.leaflet-top, .leaflet-bottom {
  z-index: 1000 !important;
}

/* Hide standard browser password visibility/clear buttons (Edge, IE, Chrome, Safari) */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button,
input::-webkit-password-toggle-button {
  display: none !important;
}

/* For newer Chromium based browsers */
input[type="password"]::-webkit-reveal-button {
  display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
  visibility: visible !important;
}
